#titulo {
    color: blue;
    font-size: 16px;
    text-align: center;
}
p {
    font-size: 20px; 
    text-align: justify;
}
ul {
    line-height: 2; font-size: 18px;
}
#game {
    width: 500px;
    height: 300;
    border-radius: 10%;
}

table { 
    font-size: 60px;
}

td {
    border: 10px solid black
}

.pais {
    width: 200px; 
    height: 200px;
}

#link:hover{
    color:green 
}

*{
    background-color: mediumturquoise;
}

#botao {
    background-color: blue;
   padding: 25px;
}
